.header {
    padding: 60px;
    text-align: center;
    background:  #1abc9c;
    color: #3c3ce0;
    font-size: 30px;
    background-image: url(../homework/images/header.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 0px;
    
 
}



body {
    background-image: url(..//homework/images/bodyback.webp);
    padding-left:5rem;
    padding-right: 5rem;
}
.center-text{
    text-align: center;
        
        
      
}


.flexbox-container {
    display: flex;
    flex-direction: column;
    background-image: url(..//homework/images/petals.gif);
}


.heading-text {
    font-family: 'Bad Script';
    font-size: 5rem;
}

.beige-background {
    background-color: beige;
    display: flex;
    flex-direction: column;
}

.description-text {
    font-size: 2rem;
    font-family: 'Pacifico', cursive;
}

.sub-text {
    font-family: 'Pacifico', cursive;

}

.photos {
    padding-left: 3rem;
    padding-right: 3rem;
}

.avatar {
    vertical-align: middle;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
  }

  .footer {
      background-color: black;
      padding-top: 0;
      margin-top:0;
  }

  .footer-text {
      color: white;
      padding-top: 3rem;
      padding-bottom: 3rem;
      margin-top:0;
      
  }

  .h1 {
      background-color: #d1dad8;
      border-radius: 10rem;
  

  }